{% extends 'base.html' %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>liste des contacts</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>NOM</strong></td>
            <td><strong>Prenom</strong></td>
            <td><strong> Telephone</strong></td>
        </tr>
        <tr>
            <td> {{identiter.nom}}</td>
            <td>{{identiter.prenom}}</td>
            <td>{{identiter.telephone}}
        </tr>
    </tbody>

</table>

{% endblock content %}
