             
{% extends 'base.html' %}
{% block content %}

<h1>Liste des entrprise</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>liste des contacts</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>NOM</strong></td>
                            <td><strong>Prenom</strong></td>
                        </tr>
                        {%for contact in contacts %}
                       
                        <tr>
                            {% if contact.entreprise == 1 %}
                            <td> <a href="http://localhost:8000/annuaire/detail-contact/?nom={{contact.nom}}">{{contact.nom}}</a></td>
                            <td>{{contact.prenom}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
  {% endblock content %}