{% extends 'base.html' %}
{% block content %}

    
    <!-- <form>
        <label >Veuillez saisir la premier valeur numerique :</label>
        <input type="text" name="num"><br><br>
        <label >Veuillez saisir la seconde valeur numerique :</label>
        <input type="text" name="num1"><br>
        <input type="submit">
    </form> -->

    
    <h1>Addition de 2 variable</h1>
    <form class="form-inline text-center">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Veuillez saisir la seconde valeur numerique :</label>
            <input type="text" class="form-control  form-control-sm" name="num1">
          </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputPassword2" class="sr-only">Veuillez saisir la seconde valeur numerique :</label>
          <input type="text" class="form-control form-control-sm" name="num2">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Confirm identity</button><br>
        <p>le resultat de l'addition est :<strong>{{result}}</strong></p>
        
    {% endblock content %}