<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addition de 2 variable</title>
</head>
<body>
    <h1>Addition de 2 variable</h1>
    <form>
        <label >Veuillez saisir la premier valeur numerique :</label>
        <input type="text" name="num"><br><br>
        <label >Veuillez saisir la seconde valeur numerique :</label>
        <input type="text" name="num1"><br>
        <input type="submit">
    </form>

    <p>le resultat de l'addition est :{{result}}</p>
    

</body>
</html>